.slider {
  background: url(../imgs/index/people.svg) no-repeat;
  background-size: contain;
  background-position: center 0;
  width: 100%;
  height: 361px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.line {
  margin: 70px auto 20px auto;
  width: 20%;
  border: 1px solid var(--blue);
}

.pic-left {
  width: 450px;
  float: left;
  height: 230px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: url(../imgs/team.png) no-repeat;
  background-size: contain;
  background-position: center top;
}

.people .col {
  max-width: 400px;
}

.photo {
  width: 150px;
  height: 150px;
  margin: 10px auto 20px auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.photo-alexandrov {
  background-image: url(../imgs/people/alexandrov.jpg);
}
.photo-lukyanov {
  background-image: url(../imgs/people/lukyanov.jpg);
}
.photo-fomin {
  background-image: url(../imgs/people/fomin.jpg);
  background-position: center top;
}
.photo-chernikov {
  background-image: url(../imgs/people/chernikov.jpg);
}
.photo-yaschenko {
  background-image: url(../imgs/people/yaschenko.jpg);
}

.photo-golovnin {
  background-image: url(../imgs/people/golovnin.jpg);
}


.photo-ivlev {
  background-image: url(../imgs/people/ivlev.jpg);
}

.photo-kuzmicheva {
  background-image: url(../imgs/people/kuzmicheva.jpg);
}

.photo-pankova {
  background-image: url(../imgs/people/pankova.jpg);
}

.photo-vyrodov {
  background-image: url(../imgs/people/vyrodov.jpg);
}

.photo-parfenov {
  background-image: url(../imgs/people/parfenov.jpg);
}

.photo-oreshko {
  background-image: url(../imgs/people/oreshko.jpg);
}

.photo-rastorguev {
  background-image: url(../imgs/people/rastorguev.jpg);
}

.photo-surdin {
  background-image: url(../imgs/people/surdin.jpg);
}

.photo-svechnikov {
  background-image: url(../imgs/people/svechnikov.jpg);
}

.photo-voitsik {
  background-image: url(../imgs/people/voitsik.jpg);
}

.add-info {
  margin-top: 30px;
  text-align: center;
}

.schedule > .row > .col:first-child {
  border-right: 0px solid var(--blue);
}

.course {
  width: 100px;
  height: 100px;
  border: 2px solid var(--blue);
  margin: 10px auto 25px auto;
  border-radius: 50%;
}

.course .number {
  display: inline-block;
  font-weight: bold;
  height: 52px;
  font-size: 52px;
  text-align: center;
  color: var(--blue);
}

.course .text {
  color: var(--blue);
}

.event {
  margin-bottom: 20px;
}

.time {
  font-size: 14px;
  font-weight: bold;
  color: var(--blue);
}

.contacts {
  margin-bottom: 70px;
}

#team h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

#team h4 {
  font-size: 1rem;
  font-weight: 700;
}

#team p {
  font-size: .9rem;
}