* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/*
.main-menu {
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
}

.main-menu a{
  color: #000 !important;
  text-decoration: none;
}

.main-menu p{
  margin: 30px auto;
}*/

.menu-block-1 {
  width: 120px;
  height: 80px;
  background-color: #ccc;
}

.menu-block-2,
.menu-block-3 {
  width: 190px;
  height: 80px;
  background-color: #ccc;
}

.menu-block-4 {
  width: 430px;
  height: 80px;
  font-size: 37px;
}

.line-1 {
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
}

.practice-container {
  margin: 20px auto;
}

.headpiece {
  height: 250px;
  margin-bottom: 20px;
  background: url(../imgs/sliders/practice_white.jpg) no-repeat;
  background-size: contain;
  background-position: center center;
}


.text-info {
  text-align: left;
}


.line-2 {
  width: 200px;
  height: 2px;
  margin: 60px auto 0;
  text-align: center;
  background-color: #ccc;
}

.document-header h2{
  margin: 20px auto;
  font-size: 27px;
  text-align: center;
}

.brief-description {
  margin: 20px auto;
  font-size: 13px;
  text-align: center;
}

.documents {
  margin: 19px auto 20px auto;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
}

.column-1 {
  width: 254px;
  margin: 20px auto;
}

.window-document {
  width: 180px;
  height: 220px;
  display: inline-block;
  margin-bottom: 30px;
  background-color: #ccc;
}

.window-document p{
  margin-top: 100px;
}

.name-document {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.description-document {
  width: 180px;
  margin: 10px auto;
  font-size: 13px;
}

.button-download {
  width: 180px;
  height: 40px;
  margin: 20px auto;
  border-radius: 15px;
  background-color: #ccc;
}

.button-download div {
  padding-top: 8px;
}

.school-header h2{
  margin: 20px auto;
  font-size: 27px;
  text-align: center;
}

.list-school {
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
}

.school-column {
  width: 254px;
  margin: 10px auto 10px auto;
  text-align: center;
}

.school-img {
  width: 100px;
  /*height: 100px;*/
  display: inline-block;
  text-align: center;
  /*border-radius: 50%;*/
  /*background-color: #ccc;*/
}

.school-img-frtk {
  width: 200px;
  padding-top: 20px;
}

.school-img-fpmi {
  width: 170px;
  padding-top: 60px;
}

.school-img img {
  width: 100%;
  height: auto;
}

.school-img p{
  margin-top: 15px;
}

.name-school {
  margin: 20px auto;
  font-size: 13px;
  font-weight: bold;
}